.closed {
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 224px;
    transition: all 0.3s;

    &__container {
        display: flex;
        align-items: end;
        flex-direction: column;
    }
}

.closed-hide {
    transform: translateY(100%);
}

.greeting {
    display: flex;
    width: 300px;
    margin-bottom: 0;
    margin: 20px;
    align-items: end;
    flex-direction: column;
    transition: all 0.3s;

    &__close {
        opacity: 0;
        margin-bottom: 10px;

        &--icon {
            width: 20px;
            height: 20px;
            padding: 2px;
            cursor: pointer;
            border-radius: 100%;
            transition: all 0.3s;
            
        }

       
    }

    &__text {
        color: #000;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        line-height: 22px;
        text-align: left;
        cursor: pointer;
        
        box-shadow: 0 5px 20px rgba($color1, 0.1);
        background-color: $color2;
       
        transition: box-shadow 0.3s, opacity 0.3s;
    }

    &__text:hover {
        box-shadow: 0 5px 20px rgba($color1, 0.4);
    }
}

.greeting:hover .greeting__close {
    opacity: 1;
}

.greeting-animation {
    opacity: 0;
    transform: translateY(20px);
}

.bubble {
    width: 60px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 100%;
    transition: all 0.3s;
    box-shadow: 0 0 50px 0 rgba($color1, 0.06);

    &__container {
        width: 100%;
        height: 100%;

        &--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container:hover &__container--image {
        opacity: 0.8;
    }
}
