$color1: #2b2828;
$color2: #fff;
$color3: rgb(105, 222, 64);
$color4: rgb(223, 223, 223);
$color5: rgb(252, 252, 252);
$color6: rgb(234, 234 ,234);
$color7: rgb(150, 155, 166);
$color8: rgb(238, 238, 238);
$color9: rgb(249, 249, 249);
$color10: rgb(187, 187, 187);
$color11: rgb(31, 32, 32);
$color12: rgb(108, 218, 226);
$color13: #da482f; 