$color1: #2b2828;
$color2: #fff;
$color3: rgb(105, 222, 64);
$color4: rgb(155, 166, 179);
$color5: rgb(152, 230, 210);
$color6: rgb(234, 234 ,234);
$color7: rgb(150, 155, 166);
$color8: rgb(238, 238, 238);
$color9: rgb(249, 249, 249);
$color10: rgb(18, 251, 239);
$color11: rgb(31, 32, 32);
$color12: rgb(98, 0, 255);
$color13: #da482f;